body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
  }
  .navbar {
    background-color: #02798b;
    color: white;
    padding: 5px;
  }
  #link {
    display: inline;
    padding: 5px;
  }
  #link:hover {
    background-color: white;
    color: #02798b;
    cursor: pointer;
  }
 #logout{
     color:white;
     text-decoration:none;
 }
 #logout:hover{
     background-color: white;
     color:#02798b;
     cursor: pointer;
 }
  .links {
    text-align: right;
  }
  .details{
      background-image: linear-gradient(to right, black, grey);
      padding: 20px;
  }
  #img{
      border-radius: 50px;
      box-shadow: 5px 5px 15px black;
  }
 .profile-pic{
      display: inline-block;   
  }
  .titles{
    display: inline-block; 
    color: white;
    padding: 20px;
  }
  .article{
    box-shadow:  5px 5px 15px black;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px;
  }
  #title{
    color:#02798b
  }